.section-fonts {
    font-family: "Open Sans";
}

.galery-title {
    margin-bottom: 5%;
}

.slider-galery {
    position: relative;
    margin-bottom: 5%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    align-items: center;
}

.carousel-control-next-galery {
    z-index: 4;
}

.control-icon-changes {
    width: 32px;
    height: 40px;
}

.opacity-galery {
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    color: #fff;
    height: 100%;
    background-color: #0000008f;
}

.opacity-galery-text {
    padding: 15% 5%;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.text-galery-price {
    padding: 5px;
}

.btn-galery {
    margin-top: 20px;
    z-index: 2;
}

.opacity-galery-after {
    display: none;
}


.map-section {
    height: 100%;
}

.title-block-map {
    display: flex;
    justify-content: space-between;
    margin-right: 14%;

}

.map-section img {
    margin-bottom: 30px;
}

.map-section h5 {
    line-height: 18px;
}

.text-map {
    padding: 27px 0;
}


.realwood-is {
    background-color: #f5f5f5;
    height: 100%;
    margin-bottom: 5%;
    font-family: "Open Sans";
}

.realwood-is-heading {
    padding: 5% 0;
}

.circle-text {
    text-align: center;
}

.realwood-is-circle {
    margin-bottom: 10%;

}

.realwood-is-hover:hover {
    color: #6ea600;
    cursor: pointer;
}

.news {
    margin-bottom: 3%;
}

.golden-hands {
    margin-bottom: 5%;
}

.opacity-golden-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.goldeen-img {
    width: 100%;
}

.opacity-galery-golden {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    color: #fff;
    height: 100%;
    background-color: #0000008f;
}

.opacity-golden-text {
    padding: 2% 10%;
}

.opacity-section-title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;
}

.text-green {
    color: #afe548;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0;
}

.btn-golden {
    margin-left: 50px;
}

.opacity-galery-golden-after {
    display: none;
}

.footer-section {
    font-family: "Open Sans";
    background-color: #998658;
    height: 100%;
    color: #ffffff;
    text-align: left;
}

.footer-wrapper {
    padding: 3% 0;
}

.title-footer {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.text-footer {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
}