@media only screen and (max-width: 2000px) {
    .opacity-section-title {
        font-size: 20px;
        margin: 0;
    }

    .golden-text-opacity {
        padding: 0 2px;
    }

    .text-green {
        font-size: 10px;
        margin: 5px 0;
    }

    .opacity-golden-text {
        padding: 1% 3%;
        font-size: 10px;
    }

    .map-media-1200 {
        display: none;
    }

    .map-media-992 {
        display: none;
    }

    .map {
        display: block;
    }

    .title-block-map {
        font-family: "Open Sans";
    }

    .section-fonts {
        text-align: left;
    }



}

@media only screen and (max-width: 1200px) {
    .title-wood-leaders {
        font-size: 16px;
        line-height: 15px;
    }

    .opacity-section-title {
        font-size: 17px;
    }

    .golden-text-opacity {
        font-size: 13px;
    }

    .opacity-galery-golden {
        width: 70%;
    }


    .map {
        display: none;
    }

    .map-media {
        font-family: "Open Sans";
        text-align: center;
        align-items: center;
    }

    .map-media img {
        margin: 20px;
    }

    .map-media-1200 {
        display: block;
        text-align: center;
    }

    .map-media-1200 h4 {
        font-family: "Open Sans";
        margin: 5%;        
    }

    .map-media-992 {
        display: none;
    }

    .section-fonts {
        text-align: center;        
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .btn-galery {
        margin: 0;
    }

    .text-galery-price {
        padding: 1px;
    }

    .news {
        text-align: center;
    }

    .btn-golden {
        margin-left: 20px;
    }

    .opacity-galery-golden {
        width: 100%;
        text-align: center;
    }

    .map {
        display: none;
    }

    .map-media-1200 {
        display: none;
    }

    .map-media-992 {
        display: block;
        margin: 0 20%;
        text-align: center;
        font-family: "Open Sans";
    }

    .map-media-992 img {
        margin: 20px;
    }


}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .opacity-galery {
        display: none;
    }

    .opacity-galery-after {
        display: block;
    }

    .opacity-galery-text {
        padding: 2% 2%;
        text-align: center;
        line-height: 15px;
    }

    .title-wood-leaders {
        line-height: 25px;
    }

    .text-galery-price {
        padding-bottom: 7px;
    }

    .news {
        text-align: center;
        margin: 0 20%;
    }

    .golden-hands {
        text-align: center;
    }

    .opacity-galery-golden {
        display: none;
    }

    .opacity-galery-golden-after {
        display: block;
        text-align: center;
        background-image: linear-gradient(to right, grey, black);
        color: #fff;
        margin-bottom: 5%;
    }

    .opacity-golden-item {
        display: none;
    }

    .footer-section {
        text-align: center;
    }

}

@media only screen and (max-width : 490px) {
    .btn-golden-f {
        display: none;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}